body {
    background-color: #c2c2c2cc;
    margin: 0;
    padding: 0;
}
#content{
    background-color: darkgrey;
    max-width: 900px;

}

nav, footer {
    background-color: whitesmoke;
    padding: 20px;
    margin: auto;
    text-align: center;
}
nav a {
    padding: 20px;
    text-decoration: none;
    color: #000;
    background-color: whitesmoke;
}

nav a :hover{
    background-color: #000;
    transition: 0.3s;
    
}

a {
    padding: 15px;
    color: #000;
    font: size 20px;
}
h1{
    text-align: center;
}

.image_box{
    text-align: center;
}
img{
    width: 50%;
    margin: 25px auto;
    padding: 25px ;
    border: 10px solid black; 
    box-sizing: border-box;

    
}

footer{
    margin: 15px;
    background-color: rgb(165, 165, 165);

}

footer a {
    color: #000;
}
.paragraph{
    text-align: center;
    line-height: 1.5rem;
    padding: 20
}
p{
    padding: 0 20px;
    width: 50%;
    margin: auto;
    line-height: 2em;

}
