body {
    background-color: #cccc
}
#content{
    background-color: darkgrey;
    max-width: 900px;

}

nav, footer {
    background-color: whitesmoke;
    padding: 20px;
    margin: auto;
    text-align: center;
}
nav a {
    padding: 20px;
    text-decoration: none;
    color: #000;
    background-color: whitesmoke;
}

nav a :hover{
    background-color: #000;
    transition: 0.3s;
    
}

a {
    padding: 15px;
    color: #000;
    font: size 20px;
}
h1{
    text-align: center;
}

.image_box{
    text-align: center;
}
img{
    width: 400px;
    
    
}

footer{
    margin: 15px;

}

footer a {
    color: #000;
}
.paragraph{
    text-align: center;
    line-height: 1.5rem;
    padding: 20
}
