body{
    background-color: #313131cc;
    margin: 0;
    padding: 0;
}
.body_div{
    text-align: center;
    ;
}
.top{
    width: 100%;
    margin: 0;
    padding: 0px;
    }

footer{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    padding: 0 auto;
    background-color: #4d4d4d;
}
.bottom{
    text-align: center;

   
    
}
.img_circle{
    border-radius: 50%;
    border: 25px solid #252525;
    max-width: 20%;
    margin: 20px;

    
}